<template>
    <el-form :model="user" :rules="rules" ref="ruleFormRef">
        <el-form-item label="当前用户">
            {{ user.username }}
        </el-form-item>
        <el-form-item label="用户ID">
            {{ user.userid }}
        </el-form-item>
        <el-form-item label="系统权限" prop="eidentity">
            <el-tag :type="user.eidentity === 1 ? '' : 'success'">
                {{ user.eidentity === 1 ? '超级管理员' : '管理员' }}
            </el-tag>
        </el-form-item>
        <el-form-item label="新密码" prop="password">
            <el-input v-model="user.password" autocomplete="off" type="password" />
        </el-form-item>
        <el-form-item label="确认密码" prop="repeatPassword">
            <el-input v-model="user.repeatPassword" autocomplete="off" type="password" />
        </el-form-item>
        <el-form-item label="系统管理员" prop="systemAdmin">
            <el-select v-model="currentUser">
                <el-option v-for="item in usernames" :key="item.uname" :label="item.uname" :value="item.uid" />
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitHandle(ruleFormRef)">保存设置</el-button>
        </el-form-item>
    </el-form>
</template>

<script lang='ts' setup>
import { ref, onMounted, reactive } from 'vue'
import router from '@/router'
import { useRoute } from 'vue-router'
import { ElMessage, type FormRules, type FormInstance } from 'element-plus'
import { updatePassword, getAllUserName, changeAdmin } from "@/components/api/login/loginApi"
const user = ref({
    username: '',
    userid: -1,
    eidentity: 1,
    password: '',
    repeatPassword: ''
})

interface Username {
    uid: number,
    uname: string
}

const usernames = ref(Array<Map<String, Username>>)
const currentUser = ref(-1)

onMounted(() => {
    user.value.username = String(useRoute().query.uname)
    user.value.userid = Number(useRoute().query.id)

    currentUser.value = user.value.userid

    getAllUserName().then(value => {
        usernames.value = value.data.data
    })
})

const passwordValidator = (rule: any, value: any, callback: any) => {
    if (value == user.value.password) {
        callback()
    } else {
        callback(new Error('两次输入密码不一致'))
    }
}

const ruleFormRef = ref<FormInstance>()


const rules = reactive<FormRules<typeof user>>({
    password: [{ validator: passwordValidator, trigger: 'blur' }],
    repeatPassword: [{ validator: passwordValidator, trigger: 'blur' }]
})



const submitHandle = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.validate((valid) => {
        if (valid) {
            // 密码不未空时设置密码
            if (user.value.password != '') {
                updatePassword(user.value.userid, user.value.password).then(value => {
                    if (value.data.data != null && value.data.code == 200) {
                        ElMessage({
                            message: `密码修改成功`,
                            type: 'success',
                        })
                    } else {
                        ElMessage.error({
                            showClose: true,
                            message: value.data.msg,
                            type: 'error'
                        })
                    }
                })
            }
            if (currentUser.value != user.value.userid) {
                changeAdmin(user.value.userid, currentUser.value).then(value => {
                    if (value.data.data != null && value.data.code == 200) {
                        ElMessage({
                            message: `管理员修改成功`,
                            type: 'success',
                        })
                        setTimeout(() => {
                            router.push({ path: '/'})
                        }, 3000)
                    } else {
                        ElMessage.error({
                            showClose: true,
                            message: value.data.msg,
                            type: 'error'
                        })
                    }
                })
            }
        } else {
            ElMessage.error({
                showClose: true,
                message: '表单验证未通过,无法提交',
                type: 'error'
            })
        }
    })
}
</script>