<template>
  <el-page-header :title="title" @back="clickHandle">
    <template #content>
      <div class="flex items-center">
        <el-avatar :size="32" class="mr-3" src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png" />
        <span class="text-large font-600 mr-3"> 管理系统后台 - </span>
        <span class="text-sm mr-2" style="color: var(--el-text-color-regular)">
          {{ username }}
        </span>
        <el-tag>超级管理员</el-tag>
      </div>
    </template>
  </el-page-header>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue'
import { useRoute } from 'vue-router'
const title = ref('收起')
const clickHandle = () => {
  if (title.value == '收起') {
    title.value = '展开'
  } else {
    title.value = '收起'
  }
  emit('collapse')
}
const username = ref('')

onMounted(() => {
  username.value = String(useRoute().query.uname)
})

const emit = defineEmits<{
  collapse: []
}>()
</script>