<template>
  <!-- <el-menu default-active="2" class="el-menu-vertical-demo" :collapse="isCollapse"> -->
  <el-menu default-active="1" class="el-menu-vertical-demo" @select="selectHandle" :collapse="$props.collapse">
    <el-menu-item index="1">
      <el-icon>
        <Avatar />
      </el-icon>
      <template #title>业主管理</template>
    </el-menu-item>
    <el-menu-item index="2">
      <el-icon>
        <document />
      </el-icon>
      <template #title>楼栋管理</template>
    </el-menu-item>
    <el-menu-item index="3">
      <el-icon>
        <Cpu />
      </el-icon>
      <template #title>系统管理</template>
    </el-menu-item>
    <el-menu-item index="4" @click="logoutHandle">
      <el-icon>
        <Key />
      </el-icon>
      <template #title>退出系统</template>
    </el-menu-item>
  </el-menu>
</template>
  
<script lang="ts" setup>
import {
  Document, Avatar, Cpu
} from '@element-plus/icons-vue'
import router from '@/router'

const props = defineProps<{
  collapse: boolean
}>();
const emit = defineEmits<{
  update: [indexPath: string]
}>()

const selectHandle = (index: string, indexPath: Array<number>) => {
  emit('update', index)
}

const logoutHandle = ()=>{
  router.push({path:'/'})
}
</script>
  
<style>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}</style>
  