<script lang="ts" setup>
import { reactive } from 'vue'
import { ElMessage } from 'element-plus'
import { loginApi } from '@/components/api/login/loginApi'
import router from '@/router'

const userModel = reactive({
  username: '',
  password: '',
  loginname: '',
})

function login() {
  loginApi(userModel).then(value => {
    if (value.data.data != null && value.data.code == 200) {
      const id = value.data.data.uid;
      const uname = value.data.data.uname;
      router.push({ path: '/main', query: { id: id, uname: uname } })
    } else {
      ElMessage.error({
        showClose: true,
        message: value.data.msg,
        type: 'error'
      })
    }
  })
}

</script>

<template>
  <div class="bg">
    <el-form :model="userModel" label-width="120px" class="login-form">
      <el-form-item label="用户名">
        <el-input v-model="userModel.username" style="width: 200px;" />
      </el-form-item>
      <el-form-item label="密码">
        <el-input v-model="userModel.password" type="password" />
      </el-form-item>
      <el-form-item>
        <el-col :span="11" offset="6"></el-col>
        <el-button type="primary" @click="login()">登陆</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style scoped>
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-image: url('/bg1.jpg');
  background-size: cover;
  background-position: center;
}

.login-form{
  background-color: aliceblue;
  padding: 70px;
  border-radius: 15px;
  opacity: 0.9;
}
</style>
