<script lang="ts" setup>
import { ref } from "vue"
import SideBar from "@/components/layout/SideBar.vue"
import Header from "@/components/layout/Header.vue"
import ShowEmployments from "./employment/ShowEmployments.vue"
import ShowBuildings from "./building/ShowBuildings.vue"
import SystemManage from './system/SystemManage.vue'
import {
    Edit,
} from '@element-plus/icons-vue'
const webSiteTree: { [key: string]: any } = {
    '1': ShowEmployments,
    '2': ShowBuildings,
    '3': SystemManage
}

const currentTab = ref<string>('1')

const updateHandle = (index: string) => {
    currentTab.value = index
}

const collapse = ref<boolean>(false)

const collapseHandle = () => {
    collapse.value = !collapse.value
}

</script>
<template>
    <el-container>
        <el-header>
            <Header @collapse="collapseHandle"></Header>
        </el-header>
        <el-container>
            <el-aside>
                <SideBar style="height: 100vh;" @update=updateHandle :collapse="collapse"></SideBar>
                <!-- <el-button type="primary" :icon="Edit" circle @click="collapseHandle" size="large"/> -->
            </el-aside>
            <el-container>
                <el-main>
                    <component :is="webSiteTree[currentTab]"></component>
                </el-main>
                <el-footer>
                </el-footer>
            </el-container>
        </el-container>
    </el-container>
</template>