<template>
    <el-dialog v-model="dialogVisble" title="楼栋信息">
        <el-form :model="buildingInfo" :rules="rules" ref="ruleFormRef">
            <el-form-item label="楼栋编号" :label-width="formLabelWidth" prop="bid">
                <el-input v-model="buildingInfo.bid" autocomplete="off" />
            </el-form-item>
            <el-form-item label="楼栋" :label-width="formLabelWidth" prop="bname">
                <el-input v-model="buildingInfo.bname" autocomplete="off" />
            </el-form-item>
            <el-form-item label="单元" :label-width="formLabelWidth" prop="bunit">
                <el-input v-model="buildingInfo.bunit" autocomplete="off" />
            </el-form-item>
            <el-form-item label="楼层" :label-width="formLabelWidth" prop="bfloor">
                <el-input v-model="buildingInfo.bfloor" autocomplete="off" />
            </el-form-item>
            <el-form-item label="房屋号" :label-width="formLabelWidth" prop="bnumber">
                <el-input v-model="buildingInfo.bnumber" autocomplete="off" />
            </el-form-item>
            <el-form-item label="房屋面积" :label-width="formLabelWidth" prop="barea">
                <el-input v-model="buildingInfo.barea" autocomplete="off" />
            </el-form-item>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogVisble = false">Cancel</el-button>
                <el-button type="primary" @click="submitHandle(ruleFormRef)">
                    Confirm
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { reactive, ref, watch } from 'vue'
import { type BuildingModel } from '@/components/api/model/buildingModel'
import { updateBuilding, insertBuilding } from '@/components/api/building/buildingApi'
import { ElMessage, type FormRules, type FormInstance } from 'element-plus'
const props = defineProps<{
    building: BuildingModel
    isInsert: Boolean
}>();
const dialogVisble = ref(false)
const emptyBuilding: BuildingModel = {
    bid: '',
    bname: '',
    bunit: '',
    bfloor: 0,
    bnumber: 0,
    barea: 0
}

const ruleFormRef = ref<FormInstance>()
const buildingInfo = ref<BuildingModel>(emptyBuilding)

const submitHandle = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.validate((valid) => {
        if (valid) {
            if (!props.isInsert) {
                updateBuilding(buildingInfo.value).then((value) => {
                    if (value.data.data != null && value.data.code == 200) {
                        ElMessage({
                            message: `修改${buildingInfo.value.bid}号成功`,
                            type: 'success',
                        })
                        emit('update')
                    } else {
                        ElMessage.error(`${value.data.msg}`)
                    }
                })
            } else {
                insertBuilding(buildingInfo.value).then((value) => {
                    if (value.data.data != null && value.data.code == 200) {
                        if (buildingInfo.value.bid != undefined) {
                            ElMessage({
                                message: `添加${buildingInfo.value.bid}号成功`,
                                type: 'success',
                            })
                        } else {
                            ElMessage({
                                message: `添加成功`,
                                type: 'success',
                            })
                        }
                        emit('update')
                    } else {
                        ElMessage.error(`${value.data.msg}`)
                    }
                })
            }
            dialogVisble.value = false
        } else {
            ElMessage.error({
                showClose: true,
                message: '表单验证未通过,无法提交',
                type: 'error'
            })
        }
    })
}

watch(dialogVisble, async (newValue, oldValue) => {
    if (newValue) {
        if (!props.isInsert) {
            buildingInfo.value = props.building
        } else {
            buildingInfo.value = { ...emptyBuilding };
        }
    }
})

const numberValidate = (rule: any, value: any, callback: any) => {
    if (rule.field == 'bid' && value == '') callback()
    if (rule.field == 'barea' && /^-?\d+(\.\d+)?$/.test(value)) callback()
    const integerPattern = /^-?\d+$/;
    if (integerPattern.test(value)) {
        callback()
    } else {
        callback(new Error('请输入整数'))
    }
}

const rules = reactive<FormRules<BuildingModel>>({
    bname: [
        { required: true, message: '业主姓名不能为空', trigger: 'blur' },
    ],
    bunit: [
        { required: true, message: '业主姓名不能为空', trigger: 'blur' },
    ],
    bid: [
        { validator: numberValidate, trigger: 'blur' }
    ],
    bnumber: [
        { required: true, validator: numberValidate, trigger: 'blur' }
    ],
    bfloor: [
        { required: true, validator: numberValidate, trigger: 'blur' }
    ],
    barea: [
        { required: true, validator: numberValidate, trigger: 'blur' }
    ]
})

const formLabelWidth = '140px'

const emit = defineEmits<{
    update: []
}>()

defineExpose({
    dialogVisble
})
</script>
<style scoped>
.el-button--text {
    margin-right: 15px;
}

.el-select {
    width: 300px;
}

.el-input {
    width: 300px;
}

.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>
  