<template>
    <el-table :data="filterTableData" style="width: 100%">
        <el-table-column label="楼栋编号" prop="bid" />
        <el-table-column label="楼栋" prop="bname" />
        <el-table-column label="单元" prop="bunit" />
        <el-table-column label="楼层" prop="bfloor" />
        <el-table-column label="房屋号" prop="bnumber" />
        <el-table-column label="房屋面积" prop="barea" />
        <el-table-column align="right">
            <template #header>
                <el-input v-model="search" size="small" placeholder="Type to search" />
            </template>
            <template #default="scope">
                <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
            </template>
        </el-table-column>
    </el-table>
    <EditBuildings ref="visiableDialog" :building="selectedBuilding" @update="refreshData" :is-insert="isInsert">
    </EditBuildings>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
        <el-pagination background layout="sizes,prev, pager, next" :total="totalData" :page-size="pageSize"
            :current-page="currentPage" @update:current-page="handleCurrentPageUpdate" :page-sizes="[5,10, 20, 50, 100]" @update:page-size="pageSizeHandle"/>
        <el-button type="primary" style="justify-content: end;" @click="insertHandle">新增</el-button>
    </div>
</template>
  
<script lang="ts" setup>
import { computed, ref, onMounted } from 'vue'
import { type BuildingModel } from '@/components/api/model/buildingModel'
import { getAllBuildings, deleteBuilding } from '@/components/api/building/buildingApi'
import { ElMessage } from 'element-plus'
import EditBuildings from './EditBuildings.vue';

const tableData = ref<BuildingModel[]>([])
const totalData = ref(0)
const currentPage = ref(1)
const search = ref('')
const isInsert = ref(false)
const visiableDialog = ref<any>(null)
const pageSize = ref(5)
const selectedBuilding = ref<BuildingModel>({
    bid: '',
    bname: '',
    bunit: '',
    bfloor: 0,
    bnumber: 0,
    barea: 0
})

const filterTableData = computed(() => {
    return tableData.value.filter(
        (data) => {
            return !search.value || String(data.bid).toLowerCase().includes(search.value.toLowerCase())
        }
    )
}
)

const pageSizeHandle = (newValue:number)=>{
    pageSize.value = newValue
    refreshData()
}

const handleEdit = (index: number, row: BuildingModel) => {
    selectedBuilding.value = row
    isInsert.value = false
    visiableDialog.value.dialogVisble = true
}

const handleDelete = (index: number, row: BuildingModel) => {
    deleteBuilding(String(row.bid)).then(value => {
        if (value.data.data != null && value.data.code == 200) {
            ElMessage({
                message: `删除${row.bid}号成功`,
                type: 'success',
            })
            refreshData()
        } else {
            ElMessage.error('删除失败')
        }
    })
}

const insertHandle = () => {
    isInsert.value = true
    visiableDialog.value.dialogVisble = true
}

onMounted(refreshData)

async function refreshData() {
    getAllBuildings(pageSize.value, currentPage.value).then(value => {
        tableData.value = value.data.data.records
        totalData.value = Number(value.data.data.total)
    }
    )
}

const handleCurrentPageUpdate = (newPage: number) => {
    currentPage.value = newPage
    refreshData()
}

</script>
  