<template>
    <el-dialog v-model="dialogVisble" title="业主信息">
        <el-form :model="employmentInfo" :rules="rules" ref="ruleFormRef">
            <el-form-item label="业主编号" :label-width="formLabelWidth" prop="eid">
                <el-input v-model="employmentInfo.eid" autocomplete="off" />
            </el-form-item>
            <el-form-item label="姓名" :label-width="formLabelWidth" prop="ename">
                <el-input v-model="employmentInfo.ename" autocomplete="off" />
            </el-form-item>
            <el-form-item label="房间号" :label-width="formLabelWidth" prop="idcard">
                <el-input v-model="employmentInfo.idcard" autocomplete="off" />
            </el-form-item>
            <el-form-item label="联系方式" :label-width="formLabelWidth" prop="eaddr">
                <el-input v-model="employmentInfo.eaddr" autocomplete="off" />
            </el-form-item>
            <el-form-item label="房间入住人数" :label-width="formLabelWidth" prop="enumber">
                <el-input v-model="employmentInfo.enumber" autocomplete="off" />
            </el-form-item>
            <el-form-item label="是否业主" :label-width="formLabelWidth">
                <el-checkbox v-model="employmentInfo.eidentity"></el-checkbox>
            </el-form-item>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogVisble = false">Cancel</el-button>
                <el-button type="primary" @click="submitHandle(ruleFormRef)">
                    Confirm
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { reactive, ref, watch } from 'vue'
import { type EmploymentModel } from '@/components/api/model/employmentModel'
import { updateEmployment, insertEmployment } from '@/components/api/employment/employmentApi'
import { ElMessage, type FormRules, type FormInstance } from 'element-plus'
const props = defineProps<{
    employment: EmploymentModel
    isInsert: Boolean
}>();
const dialogVisble = ref(false)
const emptyEmployment: EmploymentModel = {
    eid: '',
    ename: '',
    idcard: '',
    eaddr: '',
    enumber: '',
    eidentity: true
}
const employmentInfo = ref<EmploymentModel>(emptyEmployment)
const ruleFormRef = ref<FormInstance>()

const submitHandle = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.validate((valid) => {
        if (valid) {
            if (!props.isInsert) {
                updateEmployment(employmentInfo.value).then((value) => {
                    if (value.data.data != null && value.data.code == 200) {
                        ElMessage({
                            message: `修改${employmentInfo.value.eid}号成功`,
                            type: 'success',
                        })
                        emit('update')
                    } else {
                        ElMessage.error(`${value.data.msg}`)
                    }
                })
            } else {
                insertEmployment(employmentInfo.value).then((value) => {
                    if (value.data.data != null && value.data.code == 200) {
                        if (employmentInfo.value.eid != undefined) {
                            ElMessage({
                                message: `添加${employmentInfo.value.eid}号成功`,
                                type: 'success',
                            })
                        } else {
                            ElMessage({
                                message: `添加成功`,
                                type: 'success',
                            })
                        }
                        emit('update')
                    } else {
                        ElMessage.error(`${value.data.msg}`)
                    }
                })
            }
            dialogVisble.value = false
        } else {
            ElMessage.error({
                showClose: true,
                message: '表单验证未通过,无法提交',
                type: 'error'
            })
        }
    })

}

watch(dialogVisble, async (newValue, oldValue) => {
    if (newValue) {
        if (!props.isInsert) {
            employmentInfo.value = props.employment
        } else {
            employmentInfo.value = { ...emptyEmployment };
        }
    }
})

const numberValidate = (rule: any, value: any, callback: any) => {
    if (rule.field == 'eid' && value == '') callback()
    const integerPattern = /^-?\d+$/;
    if (integerPattern.test(value)) {
        callback()
    } else {
        callback(new Error('请输入整数'))
    }
}

const rules = reactive<FormRules<EmploymentModel>>({
    ename: [
        { required: true, message: '业主姓名不能为空', trigger: 'blur' },
    ],
    idcard: [
        { required: true, message: '房间号不能为空', trigger: 'blur' },
    ],
    eaddr: [
        { required: true, message: '联系方式不能为空', trigger: 'blur' },
    ],
    eid: [
        { validator: numberValidate, trigger: 'blur' }
    ],
    enumber: [
        { required: true, validator: numberValidate, trigger: 'blur' }
    ]
})

const formLabelWidth = '140px'

const emit = defineEmits<{
    update: []
}>()

defineExpose({
    dialogVisble
})
</script>
<style scoped>
.el-button--text {
    margin-right: 15px;
}

.el-select {
    width: 300px;
}

.el-input {
    width: 300px;
}

.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>
  