<template>
    <el-table :data="filterTableData" style="width: 100%">
        <el-table-column label="业主编号" prop="eid" />
        <el-table-column label="姓名" prop="ename" />
        <el-table-column label="房间号" prop="idcard" />
        <el-table-column label="联系方式" prop="eaddr" />
        <el-table-column label="房间入住人数" prop="enumber" />
        <el-table-column label="是否业主" prop="eidentity">
            <template #default="scope">
                <el-tag :type="scope.row.eidentity ? 'success' : 'danger'">
                    {{ scope.row.eidentity ? '是' : '否' }}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="right">
            <template #header>
                <el-input v-model="search" size="small" placeholder="Type to search" />
            </template>
            <template #default="scope">
                <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
            </template>
        </el-table-column>
    </el-table>
    <EditEmployments ref="visiableDialog" :employment="selectedEmployment" @update="refreshData" :is-insert="isInsert">
    </EditEmployments>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
        <el-pagination background layout="sizes,prev, pager, next" :total="totalData" :current-page="currentPage"
            :page-size="pageSize" :page-sizes="[5,10, 20, 50, 100]" @update:current-page="handleCurrentPageUpdate"
            @update:page-size="pageSizeHandle" />
        <el-button type="primary" style="justify-content: end;" @click="insertHandle">新增</el-button>
    </div>
</template>
  
<script lang="ts" setup>
import { computed, ref, onMounted } from 'vue'
import { type EmploymentModel } from '@/components/api/model/employmentModel'
import { getAllEmployments, deleteEmployment } from '@/components/api/employment/employmentApi'
import { ElMessage } from 'element-plus'
import EditEmployments from './EditEmployments.vue';

const tableData = ref<EmploymentModel[]>([])
const totalData = ref(0)
const currentPage = ref(1)
const search = ref('')
const isInsert = ref(false)
const visiableDialog = ref<any>(null)
const pageSize = ref(5)
const selectedEmployment = ref<EmploymentModel>({
    eid: '',
    ename: '',
    idcard: '',
    eaddr: '',
    enumber: '',
    eidentity: true
})

const filterTableData = computed(() => {
    return tableData.value.filter(
        (data) => {
            return !search.value || String(data.eid).toLowerCase().includes(search.value.toLowerCase())
        }
    )
}
)

const pageSizeHandle = (newValue:number) => {
    pageSize.value = newValue
    refreshData()
}

const handleEdit = (index: number, row: EmploymentModel) => {
    selectedEmployment.value = row
    isInsert.value = false
    visiableDialog.value.dialogVisble = true
}

const handleDelete = (index: number, row: EmploymentModel) => {
    deleteEmployment(String(row.eid)).then(value => {
        if (value.data.data != null && value.data.code == 200) {
            ElMessage({
                message: `删除${row.eid}号成功`,
                type: 'success',
            })
            refreshData()
        } else {
            ElMessage.error('删除失败')
        }
    })
}

const insertHandle = () => {
    isInsert.value = true
    visiableDialog.value.dialogVisble = true
}

onMounted(refreshData)

async function refreshData() {
    getAllEmployments(pageSize.value, currentPage.value).then(value => {
        tableData.value = value.data.data.records
        totalData.value = Number(value.data.data.total)
    }
    )
}

const handleCurrentPageUpdate = (newPage: number) => {
    currentPage.value = newPage
    refreshData()
}

</script>
  